.content-wrapper {
  width: 300px;
  text-align: center;
}

.account-item {
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
  margin: 3px 0;

  .name {
    margin: 0px;
    margin-bottom: -3px;
  }

  &:hover {
    cursor: pointer;
    background-color: #1890ff;
    .name, .balance {
      color: white;
    }
  }

  .space {
    width: 12px;
  }
}

.active {
  background-color: #a5d2f7;
}

.divider {
  height: 1px;
  background: #d9d9d9;
  width: 100%;
  border-radius: 9px;
  margin: 8px 0;
}

.new-account {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  .error {
    color: red;
  }
}
