
.no-transaction{
  padding: 40px;
  text-align: center;
  font-size: 20px;
}

.bottom-content{
  display: flex;
  justify-content:center;
}
.bottom-content{
  margin: 30px 0 70px;
  padding-bottom: 50px;
}
.btnLoadMore{
  background-color: white;
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 20px;
  color: rgb(63, 140, 202);
  border: 1px solid rgb(52, 118, 172);
  font-size: 18px;
  transition: 0.3s;
  &:hover{
    background-color:rgb(63, 140, 202);
    color: rgb(255, 255, 255);
  }
}