.wrap-content-acitivity {
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  padding: 30px 20px 30px 0;
  border-bottom: 1px solid #e5e5e5;
  .wrap-activity-left {
    display: flex;
    align-items: center;
  }
  .left-content h5 {
    margin-bottom: 0;
    font-size: 16px;
  }
  .icon-ac {
    padding: 0 20px;
  }

  .left-content p {
    margin-bottom: 0;
  }
  .date-ac {
    color: #219e37;
    font-size: 12px;
  }
  .to-ac {
    color: #6a737d;
    font-size: 12px;
  }
  &:hover {
    cursor: pointer;
    background: #f2f3f4;
  }
  .wrap-activity-right h5 {
    margin-bottom: 0;
    font-size: 16px;
  }
  .wrap-activity-right h6 {
    font-size: 12px;
    color: #6a737d;
  }
}

.status-modal {
  display: flex;
  justify-content: space-between;
}
.confirm-status {
  display: flex;
  justify-content: space-between;
  .copy-id {
    color: #1890ff;
    cursor: pointer;
    transition: 0.3s;
    &:active {
      color: #0a4d8d;
    }
  }
}
.status-from {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.value-from {
  display: flex;
  justify-content: space-between;
}
.wrap-item {
  color: #535a61;
  display: flex;
  justify-content: space-between;
  .eth-value {
    color: #000;
    font-weight: bold;
  }
}
.status-text {
  font-weight: bold;
}
.confirm-text {
  color: #28a745;
  font-weight: bold;
}
