.root-asset {
}

.wrapItemAsset {
  &:hover {
    background: #f2f3f4;
  }
  transition: 0.3s;
  cursor: pointer;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(87, 85, 85, 0.486);
  .wrap-eth-icon {
    margin-top: 0;
  }
  p {
    font-size: 18px;
    padding-left: 20px;
    flex: 1;
    margin-bottom: 0;
  }
}
.wrap-import {
  padding-top: 20px;
  text-align: center;
  p {
    color: #535a61;
  }
  button {
    background-color: transparent;
    border: none;
    color: rgb(30, 116, 214);
    cursor: pointer;
  }
}

.tokenInput {
  display: block;
  font-size: 16px;
  outline: none;
  margin-bottom: 12px;
  padding-left: 5px;
  border: 1px solid rgb(10, 113, 209);
}
.wrapInputToken h5 {
  font-size: 14px;
}
.wrapInputToken button {
  cursor: pointer;
  color: white;
  padding: 5px 14px;
  box-shadow: 1px 2px 2px 3px #ccc;
  border-radius: 5px;
  border: none;
  background-color: rgb(51, 128, 243);
}

.wrapTokenLoading {
  padding: 40px;
  display: flex;
  justify-content: center;
}
