.top-account {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.account-name {
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #d6d9dc;
  p {
    color: #989a9b;
    font-size: 12px;
    margin-bottom: 0;
  }
}
.name-user {
  margin-bottom: 0;
}
.address-account {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  &:active {
    color: rgb(26, 26, 26);
  }
  span {
    padding-left: 5px;
  }
}
.three-dot {
  position: absolute;
  right: 12px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  .option-account {
    position: absolute;
  }
}
.three-dot .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 2px;
  background: #000;
}
ul,
li {
  list-style: none;
}
.option-account {
  text-align: left;
  background: white;
  min-width: 200px;
  right: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px rgba(204, 204, 204, 0.849);
  li {
    color: #000;
    a {
      color: #000;
    }
    transition: 0.3s;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background: #d6dde0;
    }
  }
}
