.restore-wrapper {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.error {
  color: red;
}

.secret-phrase {
  margin-top: 10px;
}

.password-creation {
  margin-top: 15px;
  margin-bottom: 15px;
}