* {
  margin: 0;
  padding: 0;
}

body {
  background: #f2f3f4;
}
.main-page-header {
  max-width: 1020px;
  margin: 0 auto;
}
.main-page {
  min-height: 60vh;
  max-width: 1020px;
  background: white;
  margin: 30px auto;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.08);
}

.wrap-eth-icon {
  width: 30px;
  height: 30px;
  display: flex;
  margin: 14px auto 0;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 50%;
}
.eth-count {
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.icon-button__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  background: #037dd6;
  border-radius: 18px;
  margin-top: 6px;
  margin-bottom: 5px;
}
.btn-home {
  border: none;
  cursor: pointer;
  background: transparent;
}
.wrap-btn {
  display: flex;
  justify-content: center;
}

.btn-middle {
  padding: 0 20px;
}
button[disabled] {
  opacity: 0.5;
}
.wrap-btns {
  display: flex;
}
.wrap-content-tap button {
  background: transparent;
  flex: 1;
  cursor: pointer;
  color: #6a737d;
  padding: 15px 0;
  font-size: 12px;
  text-transform: capitalize;
  border: none;
  border-bottom: 1px solid #6a737d71;
}
.wrap-content-tap button.active {
  color: #037dd6;
  border-bottom: 2px solid #037dd6;
}

.input-send {
  outline: none;
  border: 1px solid #ccc;
  padding: 10px;
}

.valid {
  background: #b1e686;
  color: #096324;
  border-radius: 10px;
  margin-top: 8px;
  padding: 10px 20px;
  width: max-content;
  border: 1px solid #096324;
}

.not-valid {
  background: #f58c95;
  color: #942932;
  border-radius: 10px;
  margin-top: 8px;
  padding: 10px 20px;
  width: max-content;
  border: 1px solid #942932;
}
.number-input {
  padding-top: 10px;
}

.transaction-message {
  padding: 10px;
  margin-top: 20px;
  color: #3b3f3f;
  margin-bottom: 20px;
  background-color: #a4a7ac8a;
}

.wrap-message {
  display: flex;
  align-items: center;
}

.btn-back {
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 15px;
  color: rgb(216, 115, 115);
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid rgb(216, 115, 115);
}

.btn-back:hover {
  background: #e24451;
  color: white;
  border: 1px solid rgb(218, 38, 38);
}

.address-account {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  span {
    padding-left: 5px;
  }
}
.support {
  text-align: center;
  padding-top: 50px;
  font-size: 18px;
  cursor: pointer;
  span {
    color: #037dd6;
  }
}
