.main-page-header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  .left-header {
    display: flex;
    align-items: center;
    h4 {
      padding-left: 13px;
      margin-bottom: 0;
      font-size: 20px;
      letter-spacing: 3px;
    }
  }
  .icon-rect {
    width: 35px;
    cursor: pointer;
    height: 35px;
    border: 2px solid #037dd6;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
  }
  .right-header {
    display: flex;
    align-items: center;
  }
  .logo{
    width: 50px;
  }
  .btn-lock{
    margin-right: 10px;
    padding: 3px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    color: rgb(12, 108, 187);
    border: 1px solid rgb(12, 108, 187);
    &:hover{
      background-color: #037dd6;
      color: white;
    }
  }
}
