.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

.seed-view {
  width: 300px;
  margin: 6px;
  padding: 16px;
  border-radius: 5px;
  border: 1px gray solid;
  text-align: center;
  background-color: white;
}

.pw-creation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .error {
    color: red;
  }

  .btn {
    margin-top: 10px;
  }
}