.login-wrapper {
  margin: auto;
  width: 300px;
  margin-top: 200px;
}

.error {
  color: red;
}

.forgot-pw {
  color: #1890ff;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #096dd9;
  }
}